@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import "tailwindcss";
@import "./animation.css";
@custom-variant dark (&: where(.dark, .dark *));

@theme {
  --font-primary: "Karla", sans-serif;
  --font-secondary: "Source Code Pro", monospace;

  /*Base*/
  --color-main: #2e1065;
  --color-dark: #222222;
  --color-accent: #f472b6;
  --color-bg-primary: #7058da;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color-scheme: light dark;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-primary);
  font-size: 0.6rem;
  color: var(--color-main);
}

button {
  cursor: pointer;
}
