@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import "tailwindcss";
@import "./animation.css";
@custom-variant dark (&: where(.dark, .dark *));

@theme {
  --font-primary: "Karla", sans-serif;
  --font-secondary: "Source Code Pro", monospace;

  /*Base*/
  --color-accent: #f472b6;
  --color-ui-text: var(--ui-text);
  --color-ui-glass: var(--ui-glass);
  --color-ui-inner: var(--ui-inner);
  --color-ui-accent: var(--ui-accent);
  --color-ui-sky: var(--ui-sky);
  --color-ui-border: var(--ui-border);
  --color-ui-error: var(--ui-error);
  --color-ui-button: var(--ui-button);
  --color-ui-card: var(--ui-card);
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --ui-text: #ffffff;
  --ui-glass: rgba(0, 0, 0, 0.87);
  --ui-inner: rgba(24, 23, 23, 0.459);
  --ui-accent: var(--color-pink-300);
  --ui-sky: var(--color-sky-300);
  --ui-border: rgba(255, 255, 255, 0.205);
  --ui-error: rgba(255, 27, 134, 0.568);
  --ui-button: rgb(255, 95, 175);
  --ui-card: #7e4c6c;
}

.light {
  --ui-text: rgb(24, 24, 24);
  --ui-glass: rgba(255, 255, 255, 0.87);
  --ui-inner: rgba(255, 255, 255, 0.541);
  --ui-border: rgba(255, 255, 255, 0.767);
  --ui-accent: rgba(255, 122, 195, 0.863);
  --ui-sky: var(--color-sky-600);
  --ui-error: #ff78b7e0;
  --ui-button: rgba(255, 131, 203, 0.747);
  --ui-card: #ffeef8;
}
body {
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-primary);
  font-size: 0.6rem;
}

button {
  cursor: pointer;
}
