@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import "tailwindcss";
@import "./animation.css";
@custom-variant dark (&: where(.dark, .dark *));

@theme {
  --font-primary: "Karla", sans-serif;
  --font-secondary: "Source Code Pro", monospace;

  /*Base*/
  --color-accent: #f472b6;
  --color-ui-text: var(--ui-text);
  --color-ui-glass: var(--ui-glass);
  --color-ui-inner: var(--ui-inner);
  --color-ui-accent: var(--ui-accent);
  --color-ui-sky: var(--ui-sky);
  --color-ui-border: var(--ui-border);
  --color-ui-error: var(--ui-error);
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --ui-text: #ffffff;
  --ui-glass: rgba(0, 0, 0, 0.87);
  --ui-inner: rgba(128, 128, 128, 0.103);
  --ui-accent: var(--color-pink-300);
  --ui-sky: var(--color-sky-300);
  --ui-border: rgba(255, 255, 255, 0.212);
  --ui-error: rgba(255, 27, 134, 0.568);
}

.light {
  --ui-text: #ffffff;
  --ui-glass: rgba(44, 20, 99, 0.459);
  --ui-inner: rgba(59, 5, 80, 0.137);
  --ui-border: rgba(255, 255, 255, 0.438);
  --ui-accent: rgb(255, 172, 220);
  --ui-sky: var(--color-sky-600);
  --ui-error: rgba(255, 199, 225, 0.568);
}
body {
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-primary);
  font-size: 0.6rem;
}

button {
  cursor: pointer;
}
